{{ define "main" }}
<h1> Reading Information</h1>
To see more information about me, view the "About" section on the left bar!
<br>
<br>
Current leisure reading list: Neil Gaiman's "Neverwhere" and Albert Camus' "Myth of Sisyphus"
<br>
<br>
Papers I have summarized can be found in <a href="http://rShar01.github.io/posts/paper-summaries">here</a>. I take notes
in Obsidian and export them as HTML + JS causing the theme + style of my notes to differ from my website [but they are still my notes :)]. 
<br>
<br>
Papers I am planning to summarize can be found <a href="http://rShar01.github.io/posts/paper-summaries">here</a>. If there
is a similar papers you would like summarized or topics you would like to discuss, feel free to email me!

{{ end }}