{{ define "main" }}
<style>
    /* Experiences */
    ul.experiences {
        padding-left: 15px;
        margin-top: -1px;
    }
    ul.experiences li {
        padding-left: 33px;
        margin-bottom: 2.5em;
        list-style: none;
        background: url('../img/misc/list-bullet-darkgray.png') no-repeat;
    }
    ul.experiences li.green {
        background: url('../img/misc/list-bullet-green.png') no-repeat;
    }
    ul.experiences li.blue {
        background: url('../img/misc/list-bullet-blue.png') no-repeat;
    }
    ul.experiences li.pink {
        background: url('../img/misc/list-bullet-pink.png') no-repeat;
    }
    .where {
        font-size: 1.2857em; /* 18/16 -> 18px */
        font-weight: 300;
        display: inline;
        margin-right: 0.5em;
    }
    .what {
        font-size: 0.75em; /* 12/16 -> 12px */
        font-weight: 700;
        text-transform: uppercase;
        color: #fff;
        background-color: #444444;
        display: inline-block;
        padding: 0 12px;
        margin: -5px 0.5em 0 0 !important;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
    .what.green {
        background-color: #5f9115;
    }
    .what.blue {
        background-color: #6dcff6;
    }
    .what.pink {
        background-color: #f06eaa;
    }
    .when {
        float: right;
        color: #b9b9b9;
        font-style: italic;
    }
    .description {
        display: block;
        margin-top: 0.5em;
    }


    /* BORDERS AND BULLETS */

    p {
        /*CSS reset*/
        margin-bottom: 0;
    }

    ul.experiences li {
        position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
        /* use padding-bottom instead of margin-bottom.*/ 
        margin-bottom: 0; /* This overrides previously specified margin-bottom */
        padding-bottom: 2.5em;
    }

    ul.experiences li:after {
        /* bullets */
        content: url('http://upload.wikimedia.org/wikipedia/commons/thumb/3/30/RedDisc.svg/20px-RedDisc.svg.png');
        position: absolute;
        left: -26px; /*adjust manually*/
        top: 0px;
    }

    ul.experiences li:before {
        /* lines */
        content:"";
        position: absolute;
        left: -16px; /* adjust manually */
        border-left: 1px solid black;
        height: 100%;
        width: 1px;
    }

    ul.experiences li:first-child:before {
    /* first li's line */
    top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
    }

    ul.experiences li:last-child:before {
        /* last li's line */
    height: 6px; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
    }
</style>
<h1>About Me</h1>
<p>
    I am in my final year of studies at the University of British Columbia. 
    I enjoy reading about machine learning methods and their applications to systems. 
    <br><br>
    I am currently working on my honours thesis in causal inference. I've been able to learn a lot of
    interesting (but niche) topics thanks free notes and materials from ML researchers and university courses.
    I've tried my best to pay it forward by summerizing interesting papers and topics that I have not seen much coverage on.
    Check out the <a href="/reading"> reading section </a> To see what I am currently reading and a list of all my notes!
    <br>
    <br>
    <br>
    <br>
</p>
<h1>Past Work Experience</h1>
<ul class="experiences">

    <!-- Experience -->
    <li class="green">
      <div class="where">Undergradute Research</div>
      <h3 class="what green"><a href="https://systopia.cs.ubc.ca/">Systopia Lab @ UBC</a></h3>
      <div class="when">2023 - Present</div>
      <p class="description">
        Worked on Reinforcement Learning applications during the summer for the USRA grant. 
        Currently working on my honours thesis in causal inference and representational learning with
        <a href="http://mathias.lecuyer.me/">Mathias Lecuyer</a>

      </p>
     </li>
    <li class="green">
      <div class="where">Teaching Assistant</div>
      <h3 class="what green"><a href="https://www.cs.ubc.ca/">UBC CS Department</a></h3>
      <div class="when">2020 - Present</div>
  
      <p class="description">TA'd several courses: CPSC 110 (Intro Functional Programming), CPSC 210 (Intro Software Engineering), CPSC 213 (Intro Systems), CPSC 317 (Intro Networking)
      </br></br>Responsible for running weekly labs of 15-30 students, held weekly office hours, marked and answered questions asynchronously  </p>
     </li>
    <li class="green">
      <div class="where">Firmware Engineering Intern</div>
      <h3 class="what green"><a href="https://www.motorolasolutions.com/en_xa/video-surveillance-analytics.html">Motorola Solutions</a></h3>
      <div class="when">2021 - 2022</div>
      <p class="description">Worked on security camera systems, primarily ARM architecture. Learned technologies in all 
        levels of the stack, from raw http packets to webui interfaces. Primarily used C++ for firmware using a python test suite

      </p>
     </li>
  </ul>


{{ end }}
